<!DOCTYPE html>

<title>Edit Nft</title>

{% block body %}
    <h1>Edit Nft</h1>

    {{ include('nft/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_nft_index') }}">back to list</a>

    {{ include('nft/_delete_form.html.twig') }}
{% endblock %}
