{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Edit Nft</h1>

    {{ include('back/pages/nft/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_nft_index') }}">back to list</a>

    {{ include('back/pages/nft/_delete_form.html.twig') }}
{% endblock %}
