{% extends 'back/base.html.twig' %}


{% block body %}
	<div class="back">
		<h1>Create new User</h1>

		{{ include('back/pages/user/_form.html.twig') }}

		<a href="{{ path('app_admin_user_index') }}">back to list</a>
	</div>
{% endblock %}
