
.admin-menu {

    background-color: linear-gradient($grad-lin-ftr2);

    
  
    hr {
      margin-left: 1rem;
    }
  
    .menu {
      padding-left: 2em;
  
      a {
        text-decoration: none;
        color: $color-foot-copyright;
  
        &:hover {
          color: linear-gradient($grad-lin-s);
        }
  
        &.menu-active {
          color: $color-foot-link;
          font-size: 1.2rem;
          text-decoration: underline;
        }
      }
    }
}
  