{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>Create new CoursNft</h1>

    {{ include('back/pages/cours_nft/_form.html.twig') }}

    <a href="{{ path('app_admin_cours_nft_index') }}">back to list</a>
{% endblock %}
