
<div class="text-center py-2">
    <a class="main-link" href="{{ path('app_home') }}">
        <img class="logo" src="{{ asset('img/logo.png') }}">
    </a>
</div>

<hr>

<div class="menu">
    <h4>Nft</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Liste des NFTs',
                    'pagePath': path('app_admin_nft_index')
                }
            %}
        </li>
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Liste des utilisateurs',
                    'pagePath': path('app_admin_nft_new')
                }
            %}
        </li>
    </ul>
</div>

<hr>

<div class="menu">
    <h4>Utilisateurs</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Liste des utilisateurs',
                    'pagePath': path('app_admin_user_index')
                }
            %}
        </li>
    </ul>
</div>

<hr>

<div class="menu">
    <h4>Catégories</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Liste des catégories',
                    'pagePath': path('app_admin_categorie_index')
                }
            %}
        </li>
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Ajouter une catégorie',
                    'pagePath': path('app_admin_categorie_new')
                }
            %}
        </li>
    </ul>
</div>

<hr>

<div class="menu">
    <h4>Sous-Catégorie</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Liste des sous-catégories',
                    'pagePath': path('app_admin_sous_categorie_index')
                }
            %}
        </li>
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Ajouter une sous-catégorie',
                    'pagePath': path('app_admin_sous_categorie_new')
                }
            %}
        </li>
    </ul>
</div>

<hr>

<div class="menu">
    <h4>Transaction</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Listes des transactions',
                    'pagePath': path('app_admin_transaction_index')
                }
            %}
        </li>
    </ul>
</div>

<hr>

<div class="menu">
    <h4>Cours du nft</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/common/_menu_link.html.twig' with
                {
                    'label': 'Liste des cours du nft',
                    'pagePath': path('app_admin_cours_nft_index')
                }
            %}
        </li>
    </ul>
</div>

