/*Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Quicksand&family=Raleway&display=swap");

$font-head: "Quicksand", sans-serif;
$font-main: "Raleway", sans-serif;
$font-body: "Lato", sans-serif;

/* color */
$grad-lin-hd: 90.4deg, #1EC3CD -23.21%, #8C67B5 46.97%, #5442F5 110.19%;
$grad-lin-ftr: 90.4deg, #1EC3CD -23.21%, #8C67B5 21.26%, #5442F5 110.19% ;
$grad-lin-hd2 : 90.4deg, #5442F5 -5.14%, #FD2828 110.19%;
$grad-lin-ftr2 :90.4deg, #5442F5 -3.06%, #FD2828 107.16%;
$grad-lin-b: 108.78deg, #070042 -23.28%, #390000 136.9%;
$grad-lin-b2: 108.78deg, #390000 3.42%, #070042 88.51%;
$grad-lin-s: 92.64deg, rgba(255, 255, 255, 0.05) 30.22%, rgba(151, 71, 255, 0.3);
$grad-lin-s2: 92.64deg, rgba(255, 255, 255, 0.05) 30.22%, rgba(71, 78, 255, 0.3) 99.44%;
$grad-lin-font-title: 90.61deg, #d99a5c -36.72%, #8f69b1 133.41%;
$color-foot-copyright: #662b00;
$color-foot-link: #FDE9CE; 
$color-btn-direction: 90.61deg, rgba(53, 0, 102, 0.55) -36.72%, rgba(102, 51, 0, 0.17) 133.41%;
$color-search: #fbd49d;
$color-shadow: rgba(255, 129, 38, 0.25);
$font-color-h1: #311d02;
$color-placeholder: #97774a;
$color-overlay: 117.75deg, #5442F5 -20.34%, #EBA647 113.41%;